language: python
python:
  - 2.5
  - 2.6
  - 2.7
env:
  - DJANGO_VERSION='Django==1.3.1'
  - DJANGO_VERSION='Django==1.4'
  - DJANGO_VERSION='https://www.djangoproject.com/download/1.5b1/tarball/'
install:
  - pip install $DJANGO_VERSION --use-mirrors
  - pip install -r requirements/travis-ci.txt
  - pip install -q -e . --use-mirrors
script:
  - python runtests.py
  # - python setup.py test
matrix:
  exclude:
    - python: 2.5
      env: DJANGO_VERSION='https://www.djangoproject.com/download/1.5b1/tarball/'
